$primary-color : #00b3ec;
$background-color : #f0f9fe;
$font-color: #999999;
$font-dark-color: #737171;
$border-bottom-color: #e4ecf3;
$red-color: #ee2d2d;
$gray-color: #f5f5f5;
$box-shadow:1px 1px 7px 3px #cfcfcfa8